@import '_content/BankingSystem.BLL/BankingSystem.BLL.30rvp3uf29.bundle.scp.css';
@import '_content/BankingSystem.Common/BankingSystem.Common.ejoscr6ird.bundle.scp.css';
@import '_content/BankingSystem.DAL/BankingSystem.DAL.7zulvf1va2.bundle.scp.css';
@import '_content/BankingSystem.Entities/BankingSystem.Entities.kv7s4wh1kv.bundle.scp.css';

/* _content/BankingSystem.Web/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ouvefd5n0m] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ouvefd5n0m] {
  color: #0077cc;
}

.btn-primary[b-ouvefd5n0m] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ouvefd5n0m], .nav-pills .show > .nav-link[b-ouvefd5n0m] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ouvefd5n0m] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ouvefd5n0m] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ouvefd5n0m] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ouvefd5n0m] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ouvefd5n0m] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
