@model IEnumerable<BankingSystem.Entities.Models.Account>

<h2>Account List</h2>

<a asp-action="Create" class="btn btn-primary mb-3">Open New Account</a>

<table class="table table-bordered">
    <tr>
        <th>Customer Name</th>
        <th>Account Number</th>
        <th>Account Type</th>
        <th>Balance</th>
    </tr>

    @foreach (var account in Model)
    {
        <tr>
            <td>@account.Customer?.FullName</td>
            <td>@account.AccountNumber</td>
            <td><span class="badge bg-success">@account.AccountType</span></td>
           <td>₹ @account.Balance</td>
        </tr>
    }
    }
</table>